/* Template from csstemplatesmarket.com */

@import url("normalize.css");
@import url("grid.css");
@import url("jquery.simplyscroll.css");

body {
    background: url(../images/bg.gif) repeat black;
    font-family: arial, sans-serif;
    font-size: 12px;
    color: #36322b;
    margin: 0 auto auto;
    padding: 0;
}

h1 {}

h2 {
    color: #24a4b3;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h3 {
    margin: 5px 0;
    padding: 0;
}

ul {
    padding: 0 0 0 20px;
    margin: 0;
}

p {
	text-align: justify;
	line-height: 20px;
	margin: 0;
	padding: 0 0 20px 0;
}

p.welcome {
    padding: 10px;
}

.clear {
    clear: both;
}

#main_container {
    width: 821px;
    height: auto;
    margin: auto;
    padding: 0;
}

#header {
    width: 821px;
    height: 165px;
    background: url(../images/header_bg.png) no-repeat center top;
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.logo {
	margin: 0 auto;
	display: block;
	top: 30px;
	position: relative;
}

.border_left {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 2;
    padding: 10px 0 0 10px;
}

.border_right {
    right: 0;
    position: absolute;
    top: 0;
    z-index: 2;
    padding: 10px 10px 0 0;
}

.title {
    font-size: 30px;
    font-weight: 700;
    color: #da5b23;
    padding: 0;
    margin: 0 0 20px 0;
}

.title_welcome {
    width: auto;
    font-size: 22px;
    color: #24a4b3;
    background: url(../images/news_icon.gif) no-repeat left top;
    margin: 0 0 30px;
    padding: 0 0 0 35px;
}

.menu {
	width:821px;
	height:42px;
	background:url(../images/menu_bg.gif) no-repeat left;
	position:relative;
	z-index:3;
	margin:0;
}

.menu ul {
	list-style:none;
	margin:0;
	padding:0 0 0 15px;
}

.menu ul li {
	display:inline;
}

.menu ul li a {
	float:left;
	height:42px;
	border:none;
	text-decoration:none;
	color:#fff;
	line-height:42px;
	font-size:14px;
	padding:0 15px;
}

.menu ul li.selected a {
	float:left;
	height:42px;
	border:none;
	text-decoration:none;
	color:#fff;
	line-height:42px;
	font-size:14px;
	background:url(../images/menu_bullet.gif) no-repeat bottom center;
	padding:0 15px;
}

.menu ul li a:hover {
	background:url(../images/menu_bullet.gif) no-repeat bottom center;
}

.welcome_box {
    border: 1px solid #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 10px 3px #d9d5d2;
    box-shadow: 0 0 10px 3px #d9d5d2;
    padding: 0;
}

.center_content {
    height: auto;
    clear: both;
    background-color: #e9e5e2;
    position: relative;
    z-index: 3;
    padding: 25px 25px 5px 25px;
}

.text_box {
    width: 500px;
    background: #ded8d3;
    border: 1px solid #cbc3bd;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 20px 0 0 0;
    margin: 0 auto 20px auto;
    float: none;
}

#footer {
    width: 821px;
    height: 50px;
    clear: both;
    color: #837d7b;
    position: relative;
    z-index: 3;
}

.left_footer {
    float: left;
    padding: 20px 0 0;
}

#footer a {
    color: #837d7b;
    text-decoration: none;
    padding: 0 8px;
}

.right_footer {
    float: right;
    padding: 15px 5px 0 0;
}

a {
	color: #da5b23;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

.red, .orange {
    font-weight: 700;
    color: #da5b23;
}

.fancybox img {
    margin: 0 18px 18px 0;
    border: 10px solid #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.end {
    margin: 0 0 18px 0 !important;
}

.dog {
    margin: -70px 0 -10px 0;
    margin: -70px 0 0 0;
    left: -10px;
}

.boar {
    position: relative;
    top: -210px;
    margin: -183px 30px 0 0;
    float: right;
}

.deer {
    margin: 0 0 0 25px;
    top: -14px;
    position: relative;
}